<?xml version="1.0" encoding="utf-8"?>
<!--
  Per altre informazioni su come configurare l'applicazione ASP.NET, vedere
 https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
 
  <system.web>
   
     <customErrors mode="Off">
     
    </customErrors>
    <!-- autenticazione windows form-->
    <authentication mode="Forms">
      <forms loginUrl="Contents/Login.aspx" name=".ASPXFORMSAUTH"></forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="30720" executionTimeout="600" />
 </system.web>
  
  <appSettings>
   
    <add key="Re2017ApiUrl" value="http://2.235.241.79/" />
  </appSettings>
<system.webServer>
    
  <rewrite>
      <rules>
        <rule name="Root_rule" stopProcessing="true">
          <match url="^/?$" />
          <action type="Rewrite" url="/Contents/Default.aspx" />
        </rule>
        <rule name="ToTrackManagement" stopProcessing="true">
          <match url="^TrackManagement.aspx$" ignoreCase="true" />
          <action type="Redirect" url="/Contents/TrackManagement.aspx" redirectType="Permanent" />
        </rule>
    </rules>
  </rewrite>
  </system.webServer>
</configuration>